/* ========== All common css start=========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a,
a:hover {
  text-decoration: none;
  display: inline-block;
}

ul {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.4;
}

/* ========== All common CSS section END=========== */

/* font-family: "Lato", sans-serif; */

/* ========== header CSS section start=========== */
.navbar-nav .nav-item .nav-link {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4d4d4d;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #36b864;
  text-shadow: 0.5px 0 0 #36b864;
}

.navbar-nav,
.nav-item {
  margin-left: 45px;
}

.headerBtn {
  margin-left: 142px;
}

.primaryBtn {
  border: 2px solid #06c279;
  color: #1b1b1b;
  padding: 14px 25px;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 500;
  transition: 0.4s;
}

.primaryBtn:hover {
  background: #06c279;
  color: #ffffff;
}

.primaryBtn:hover.primaryBtnDesign i {
  color: #ffffff;
}

/* ========== header CSS section END=========== */
#hero {
  background: url("../images/bacground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bannerContent {
  padding: 116px 0;
}

.bannerContent h1 {
  font-size: 60px;
  font-weight: 300;
  color: #111d15;
  font-family: "Lato", sans-serif;
  margin-bottom: 24px;
  line-height: 115%;
  width: 610px;
}

.bannerContent span {
  font-weight: 600;
}

.bannerContent p {
  font-size: 18px;
  font-weight: 400;
  color: #7b7b7b;
  font-family: "Lato", sans-serif;
  margin-bottom: 40px;
  line-height: 30px;
  width: 543px;
}

.bannerBtn a {
  margin-right: 20px;
}

.bannerBtn a i {
  color: #06c279;
  margin-right: 12px;
  transition: 0.4s;
}

.bannerBtn:hover {
  color: #ffffff;
}

/* ========== hero CSS section END=========== */

/* ========== about CSS section start=========== */
#about {
  padding: 85px 0 100px;
}

.aboutContent {
  margin-top: 38px;
}

.aboutContent h2 {
  font-size: 45px;
  font-weight: 500;
  color: #111d15;
  font-family: "Lato", sans-serif;
  margin-bottom: 29px;
  line-height: 54px;
  width: 445px;
}

.aboutContent p {
  font-size: 16px;
  font-weight: 400;
  color: #7b7b7b;
  font-family: "Lato", sans-serif;
  margin-bottom: 45px;
  line-height: 26px;
  width: 550px;
}

.aboutBtn a {
  border: 2px transparent;
  color: #1b1b1b;
  background: #daf6eb;
  color: #06c279;
  padding: 14px 25px;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 500;
  transition: 0.4s;
}

.aboutBtn a:hover {
  background: #06c279;
  color: #ffffff;
}

/* ========== about CSS section end=========== */

/* ========== portfolio CSS section start=========== */
#portfolio {
  background: url("../images/bacground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 70px 0;
  border-radius: 50px 0 50px 0;
}

.webAndseo {
  margin-top: 203px;
}

.common {
  height: 322px;
  width: 312px;
  background-color: #ffffff;
  padding: 42px 40px 60px 30px;
  border-radius: 10px;
  transition: all linear 0.4s;
}

.common:hover {
  box-shadow: 0, 0, 20, 2, rgba(0, 0, 0, 0.9);
}

.common i {
  font-size: 60px;
  color: #06c279;
  transition: all linear 0.4s;
}

.common:hover i {
  color: white;
}

.common:hover {
  background-color: #06c279;
}

.common:hover h5 {
  color: white;
}

.common:hover P {
  color: white;
}

.common h5 {
  font-size: 20px;
  font-weight: 500;
  color: #1b1b1b;
  margin-top: 18px;
  font-family: "Lato", sans-serif;
  transition: all linear 0.4s;
}

.common p {
  font-size: 16px;
  font-weight: 400;
  color: #7b7b7b;
  font-family: "Lato", sans-serif;
  margin-top: 18px;
  line-height: 26px;
  width: 265px;
  transition: all linear 0.4s;
}

.common {
  margin-top: 40px;
}

.portfolioContent {
  margin-top: 335px;
}

.portfolioContent h2 {
  font-size: 45px;
  font-weight: 445px;
  color: #111d15;
  font-family: "Lato", sans-serif;
  margin-bottom: 29px;
  line-height: 54px;
  width: 445px;
}

.portfolioContent p {
  font-size: 16px;
  font-weight: 400;
  color: #7b7b7b;
  font-family: "Lato", sans-serif;
  margin-bottom: 45px;
  line-height: 26px;
  width: 550px;
}

/* ========== portfolio CSS section end=========== */

/* ========== project CSS section start=========== */
#project {
  padding: 100px;
}

.project-Heading {
  text-align: center;
  align-items: center;
}

.project-Heading h2 {
  font-size: 45px;
  font-weight: 500;
  color: #1b1b1b;
  font-family: "Lato", sans-serif;
  margin-bottom: 33px;
  line-height: 54px;
}

.project-menu ul {
  display: flex;
  justify-content: center;
  gap: 73px;
}

.project-menu ul li a {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #7b7b7b;
}

.projectContent {
  margin-top: 53px;
}

.projectContent img {
  border-radius: 15px;
}

.projectContent h5 {
  padding-top: 20px;
  font-family: "Lato", sans-serif;
  width: 243px;
  font-size: 22px;
  margin: 0 auto;
}

.projectContent p {
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  color: #7b7b7b;
  font-family: "Lato", sans-serif;
  margin-top: 7px;
  line-height: 22px;
  height: 52%;
  width: 344px;
}

.projectBtn {
  margin-top: 32px;
  text-align: center;
}

/* ========== project CSS section end=========== */

/* ========== services CSS section start=========== */
#services {
  background: url("../images/serviceBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 70px 0;
  border-radius: 50px 0 50px 0;
}

.servicesContent {
  margin-top: 206px;
}

.servicesContent h2 {
  font-size: 45px;
  font-weight: 445px;
  color: #111d15;
  font-family: "Lato", sans-serif;
  margin-bottom: 29px;
  line-height: 54px;
  width: 445px;
}

.servicesContent p {
  font-size: 16px;
  font-weight: 400;
  color: #7b7b7b;
  font-family: "Lato", sans-serif;
  margin-bottom: 45px;
  line-height: 26px;
  width: 550px;
}

.running-And-achevement {
  margin-top: 203px;
}

.commonTwo {
  height: 235px;
  width: 261px;
  text-align: center;
  background-color: #ffffff;
  padding: 42px 40px 60px 30px;
  border-radius: 10px;
  transition: all linear 0.4s;
}

.commonTwo:hover {
  box-shadow: 0, 0, 20, 2, rgba(0, 0, 0, 0.9);
}

.commonTwo i {
  font-size: 60px;
  color: #06c279;
  transition: all linear 0.4s;
}

.commonTwo:hover i {
  color: white;
}

.commonTwo:hover {
  background-color: #06c279;
}

.commonTwo:hover h5 {
  color: white;
}

.commonTwo:hover h2 {
  color: white;
}

.commonTwo h5 {
  font-size: 20px;
  font-weight: 500;
  color: #1b1b1b;
  margin-top: 18px;
  font-family: "Lato", sans-serif;
  transition: all linear 0.4s;
}

.commonTwo h2 {
  font-size: 30px;
  font-weight: 700;
  color: #1B1B1B;
  font-family: "Lato", sans-serif;
  margin-top: 18px;
  line-height: 26px;
  transition: all linear 0.4s;
}

.commonTwo {
  margin-top: 40px;
}

/* ========== project CSS section end=========== */

/* ========== about CSS section start=========== */
#blog {
  padding: 100px 0;
}

.blogHeader h2 {
  font-size: 45px;
  color: #1B1B1B;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-bottom: 48px;
}
.blog-team{
  padding: 45px 65px;
  text-align: center;
}
.blog-team h5{
   font-size: 24px;
  color: #1B1B1B;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-top: 15px; 
}
.teamStar span i{
  color: #FAB93C;
}
.blog-team p{
   font-size: 16px;
  color: #7B7B7B;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  text-align: center;
  width: 310px;
  margin-top: 20px; 
}

/* ========== about CSS section end=========== */

/* ========== about CSS section start=========== */
/* ========== about CSS section end=========== */

/* ========== about CSS section start=========== */
/* ========== about CSS section end=========== */